/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	text-decoration: underline;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Times New Roman', serif;
	background-color: #8EA4D2;
	text-decoration:underline;

}

img{
	float:right;
	margin-right: 5%;
	margin-left: 5%;
}

h4 {
	font-style: italic;
	font-size: 20px;
	font-family: 'Times New Roman', serif;
	color: #18314F;
}


h3 {
	font-size: 20px;}
}

my-box {
    width: 300px; 
    height: 150px; 
    background-color: lightblue; 
    border: 2px solid blue; 
    padding: 20px;
    margin: 20px; 

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;



}

 }



}