body {
  font-family: Times New Roman, serif;
  max-width: 70rem;
  margin-left: 50px;
  margin-right: 10opx;
}

header {
  background-color: orangered;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: black;
}

img {
  width: 50%;
}

.caption {
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

p {
  font-size: 20px;
}
h3{
  font-style: ;
}


.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
